.Wrapper {
    margin-top: 8px;
    padding: 16px 0;
    border-top: 1px solid #e3e3e4;
}

.account-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 3px;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.label {
    color: rgba(22, 24, 35, 0.75);
    padding: 0 8px;
    margin-bottom: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    font-size: 1.6rem;
}

.name {
    font-size: 1.2rem;
    color: #161823bf;
}

.check {
    font-size: 1.4rem;
    color: rgb(32, 213, 236);
    margin-left: 4px;
}

.see-all {
    color: #fe2c55;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    padding: 0px 8px;
    margin-top: 8px;
    cursor: pointer;
}
